@import url(bootstrap-grid.css);
@import url(bootstrap-reboot.css);
@import url(bootstrap.css);
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
.transition_block {
  transition: 0.6s; }

header {
  z-index: 2 !important;
  position: relative; }
  header .central_block_header {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 70px; }
    @media screen and (max-width: 992px) {
      header .central_block_header {
        padding-top: 15px;
        background: rgba(52, 73, 94, 0.9) !important; } }
  header nav {
    z-index: 2 !important; }
    header nav button i {
      color: white !important; }
  header .nav-link {
    color: white !important; }
    header .nav-link:hover {
      color: black !important; }
  header .navbar-brand {
    max-width: 150px; }
  header .nav-item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: white !important; }
    header .nav-item:after {
      content: "//";
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 8px; }
    header .nav-item:last-of-type:after {
      content: "";
      display: block; }
    @media screen and (max-width: 992px) {
      header .nav-item:after {
        content: "";
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 8px; } }

.section_first_screen {
  height: 100vh;
  z-index: 0;
  overflow: hidden; }
  .section_first_screen:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 1;
    top: 95%;
    transform-origin: left bottom;
    transform: skewY(-3deg); }
  .section_first_screen .carousel {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0; }
    .section_first_screen .carousel .carousel-item {
      height: 100vh; }
    .section_first_screen .carousel img {
      object-fit: cover;
      height: 100% !important;
      width: 100% !important; }
  .section_first_screen .image_block {
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .section_first_screen .carousel-indicators {
    position: absolute;
    bottom: 120px; }
  .section_first_screen p {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 33px; }
    .section_first_screen p:last-of-type {
      margin-bottom: 97px; }
    @media screen and (max-width: 576px) {
      .section_first_screen p {
        font-size: 15px; } }
  .section_first_screen h1 {
    font-size: 57px;
    color: white;
    margin-bottom: 33px; }
    @media screen and (max-width: 576px) {
      .section_first_screen h1 {
        font-size: 29px; } }
  .section_first_screen a {
    display: flex;
    justify-content: center;
    color: white;
    background-color: transparent;
    border: 3px white solid;
    text-transform: uppercase;
    padding: 16px 40px;
    font-size: 16px; }
    .section_first_screen a:hover {
      background-color: #f5850f;
      border-color: #f5850f; }
    @media screen and (max-width: 576px) {
      .section_first_screen a {
        font-size: 12px;
        padding: 16px 40px; } }

.section_about {
  position: relative;
  background-color: white;
  bottom: 5vh;
  padding-bottom: 40px;
  z-index: 3 !important;
  overflow: hidden; }
  .section_about .main_content {
    position: relative;
    z-index: 3 !important;
    top: 5vh; }
    .section_about .main_content .first_line {
      margin-bottom: 150px; }
      .section_about .main_content .first_line p {
        font-size: 16px;
        line-height: 26px;
        color: #595959;
        text-transform: uppercase;
        margin-bottom: 0; }
      .section_about .main_content .first_line span {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold; }
      .section_about .main_content .first_line .item {
        border-left: #f5850f 6px solid; }
  .section_about .second_line {
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 100px;
    margin-bottom: 100px; }
    .section_about .second_line .our_story {
      padding-right: 60px; }
      @media screen and (max-width: 576px) {
        .section_about .second_line .our_story {
          padding-right: 15px; } }
    .section_about .second_line .picture {
      display: flex;
      border: #f5850f 3px solid;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      width: 125px;
      height: 125px;
      margin-bottom: 30px; }
    .section_about .second_line .photo {
      display: flex;
      background-color: #e74c3c;
      align-items: center;
      font-size: 40px;
      color: white;
      width: 100%;
      height: 260px; }
      .section_about .second_line .photo h2 {
        margin-bottom: 28px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase; }
      .section_about .second_line .photo p {
        color: #737373;
        font-size: 16px; }
        .section_about .second_line .photo p:first-of-type {
          color: #e74c3c;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 40px; }
  .section_about .third_line .picture {
    display: flex;
    border: #f5850f 3px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 125px;
    height: 125px;
    margin-bottom: 30px; }
  .section_about .third_line .photo {
    margin-bottom: 40px; }
    .section_about .third_line .photo img {
      width: 100%; }
  .section_about .third_line .skills_p h2 {
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
  .section_about .third_line .skills_p p {
    color: #737373;
    font-size: 16px;
    margin-bottom: 45px; }
  .section_about .third_line .our_skills {
    padding-left: 60px; }
    @media screen and (max-width: 576px) {
      .section_about .third_line .our_skills {
        padding-left: 15px; } }
    .section_about .third_line .our_skills .skills {
      padding: 0 15px; }
      .section_about .third_line .our_skills .skills p {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 9px !important; }
      .section_about .third_line .our_skills .skills span {
        text-transform: uppercase;
        font-size: 16px;
        color: #bfbfbf; }
  .section_about .third_line .design_PB {
    background-color: #e6e6e6;
    height: 10px;
    width: 100%;
    margin-bottom: 35px; }
    .section_about .third_line .design_PB:before {
      content: "";
      display: block;
      height: 10px;
      background-color: #f39c12;
      width: 88%; }
  .section_about .third_line .devel_PB {
    background-color: #e6e6e6;
    height: 10px;
    width: 100%;
    margin-bottom: 35px; }
    .section_about .third_line .devel_PB:before {
      content: "";
      display: block;
      height: 10px;
      background-color: #f39c12;
      width: 76%; }
  .section_about .third_line .wordpress_PB {
    background-color: #e6e6e6;
    height: 10px;
    width: 100%;
    margin-bottom: 35px; }
    .section_about .third_line .wordpress_PB:before {
      content: "";
      display: block;
      height: 10px;
      background-color: #f39c12;
      width: 81%; }
  .section_about .third_line .drupal_PB {
    background-color: #e6e6e6;
    height: 10px;
    width: 100%;
    margin-bottom: 35px; }
    .section_about .third_line .drupal_PB:before {
      content: "";
      display: block;
      height: 10px;
      background-color: #f39c12;
      width: 71%; }

.comments h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 62px; }
  @media screen and (max-width: 576px) {
    .comments h2 {
      font-size: 30px; } }
.comments span {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 45px;
  display: block; }
  .comments span:before {
    content: "";
    display: block;
    width: 36px;
    height: 3px;
    background-color: #f39c12;
    position: relative;
    left: 50%;
    margin-left: -18px;
    bottom: 15px; }

.team {
  position: relative;
  background-color: white;
  bottom: 15vh;
  padding-bottom: 120px;
  z-index: 3 !important; }
  .team .main_content {
    position: relative;
    z-index: 3 !important;
    top: 5vh; }
    .team .main_content .first_line {
      margin-bottom: 150px; }
      .team .main_content .first_line .item {
        border-left: #f5850f 6px solid; }
        .team .main_content .first_line .item p {
          font-size: 16px;
          line-height: 26px;
          color: #595959;
          text-transform: uppercase;
          margin-bottom: 0; }
      .team .main_content .first_line span {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold; }
    .team .main_content .second_line .item {
      padding: 30px 15px;
      border-top: transparent 4px solid; }
      .team .main_content .second_line .item:hover {
        background-color: #f0f0f0;
        border-top: #f5850f 4px solid; }
        .team .main_content .second_line .item:hover span:after {
          background-color: #e74c3c; }
      .team .main_content .second_line .item .photo {
        border-radius: 50%;
        overflow: hidden;
        background-color: #e8f8f4;
        height: 180px;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        border: 3px solid #ededed; }
        .team .main_content .second_line .item .photo i {
          font-size: 60px;
          color: white;
          font-weight: normal; }
      .team .main_content .second_line .item h3 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px; }
      .team .main_content .second_line .item span {
        font-size: 15px;
        margin-bottom: 45px;
        color: #999999;
        display: block; }
        .team .main_content .second_line .item span:after {
          content: "";
          display: block;
          height: 3px;
          background-color: #cccccc;
          width: 20px;
          position: relative;
          left: 50%;
          margin-left: -10px;
          top: 12px; }
      .team .main_content .second_line .item .social {
        padding: 0 35px;
        font-size: 19px;
        text-decoration: none; }
        .team .main_content .second_line .item .social a {
          color: #999999; }
        .team .main_content .second_line .item .social .TW:hover {
          color: #00acee;
          text-decoration: none; }
        .team .main_content .second_line .item .social .FB:hover {
          color: #3b5998;
          text-decoration: none; }
        .team .main_content .second_line .item .social .UN:hover {
          color: #f5850f;
          text-decoration: none; }
        .team .main_content .second_line .item .social .Goo:hover {
          color: red;
          text-decoration: none; }
        .team .main_content .second_line .item .social .LN:hover {
          color: #0e76a8;
          text-decoration: none; }

.angel_block {
  background-image: url("../images/palm_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2 !important;
  position: relative;
  min-height: 70vh;
  bottom: 10vh;
  color: white; }
  .angel_block:before {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    background: white;
    z-index: 1;
    bottom: -150px;
    transform-origin: left bottom;
    transform: skewY(-2deg); }
  .angel_block:after {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    background: white;
    z-index: 1;
    top: -150px;
    transform-origin: left bottom;
    transform: skewY(-2deg); }
  .angel_block .bg_transp {
    background-color: rgba(32, 37, 26, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 28vh; }

.our_works {
  padding: 300px 0 200px; }
  .our_works .item {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    .our_works .item p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 170px;
      border: #f5850f 3px solid;
      border-radius: 50%;
      color: white;
      font-size: 35px;
      margin: 0 auto 30px; }
      .our_works .item p:hover {
        border: white 3px solid;
        color: #f5850f; }
    .our_works .item span:first-of-type {
      display: block;
      font-size: 34px;
      font-weight: bold; }
    .our_works .item span:last-of-type {
      display: block;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 12px; }

.service {
  position: relative;
  background-color: white;
  bottom: 15vh;
  padding-bottom: 120px;
  z-index: 3 !important; }
  .service .main_content {
    position: relative;
    z-index: 3 !important;
    top: 5vh; }
    .service .main_content .first_line {
      margin-bottom: 150px; }
      .service .main_content .first_line p {
        font-size: 16px;
        line-height: 26px;
        color: #595959;
        text-transform: uppercase;
        margin-bottom: 0; }
      .service .main_content .first_line span {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold; }
      .service .main_content .first_line .item {
        border-left: #f5850f 6px solid; }
    .service .main_content .second_line {
      border-bottom: 2px #e6e6e6 solid;
      margin-bottom: 110px; }
    .service .main_content .second_line .item, .service .main_content .third_line .item {
      padding: 0 15px 90px; }
      .service .main_content .second_line .item .icon, .service .main_content .third_line .item .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        border: #f5850f 3px solid;
        border-radius: 50%;
        color: black;
        font-size: 35px;
        margin: 0 auto 30px; }
        .service .main_content .second_line .item .icon:hover, .service .main_content .third_line .item .icon:hover {
          color: white;
          background-color: #f5850f; }
      .service .main_content .second_line .item h3, .service .main_content .third_line .item h3 {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 26px;
        font-size: 17px;
        display: block; }
      .service .main_content .second_line .item p, .service .main_content .third_line .item p {
        font-size: 15px;
        color: #737373; }
    .service .main_content .proposal {
      border: 3px solid #e6e6e6;
      padding: 0;
      box-sizing: border-box; }
      .service .main_content .proposal:nth-child(2) {
        border-left: none;
        border-right: none; }
      .service .main_content .proposal .proposal_name {
        padding: 15px 15px;
        margin-bottom: 0; }
      .service .main_content .proposal h3 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin: 0 auto 30px; }
        .service .main_content .proposal h3:after {
          content: "";
          display: block;
          width: 50px;
          height: 2px;
          background-color: #f5850f;
          position: relative;
          left: 50%;
          top: 15px;
          margin-left: -25px; }
      .service .main_content .proposal span {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin: 0 auto; }
      .service .main_content .proposal ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0; }
      .service .main_content .proposal li {
        padding: 17px 0;
        border-top: 3px solid #e6e6e6; }
        .service .main_content .proposal li:last-of-type {
          border-bottom: 3px solid #e6e6e6; }
        .service .main_content .proposal li:nth-child(odd) {
          background-color: #fafafa; }
      .service .main_content .proposal .button_block {
        background-color: #fafafa;
        padding: 30px 15px; }
        .service .main_content .proposal .button_block a {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          color: black;
          padding: 11px 15px;
          border: 3px solid #f5850f;
          max-width: 130px;
          margin: 0 auto; }
      .service .main_content .proposal:hover {
        transition: 600ms;
        border-color: transparent;
        z-index: 5 !important;
        transform: scale(1.2); }
        .service .main_content .proposal:hover .proposal_name {
          background-color: #f5850f;
          color: white; }
          .service .main_content .proposal:hover .proposal_name h3:after {
            background-color: white; }
        .service .main_content .proposal:hover li:nth-child(odd) {
          background-color: #e6e6e6; }
        .service .main_content .proposal:hover li:nth-child(even) {
          background-color: #f2f2f2; }
        .service .main_content .proposal:hover .button_block {
          background-color: #e6e6e6; }

/*# sourceMappingURL=style.css.map */
